html {
    direction: rtl;
}

.container {
    text-align: justify;
}
#footer .sub-title li {
    margin-right: 1.3em;
}
#footer .sub-title li:before {
    content: "\f191";
    font-family: "FontAwesome";
    display: inline-block;
    margin-right: -1.3em;
    width: 1.3em;
    color: #21409a;
    font-size: 110%;
}