html {
    direction: rtl;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.main-menu .menu-right .icon-nav .onhover-div .show-div.setting {
    left: 0;
    right: unset;
}

.rtl .main-menu .menu-right .onhover-div .show-div.shopping-cart, .rtl .main-menu .menu-right .onhover-div .show-div.setting {
    right: 0;
    left: unset;
}

.rtl .main-menu .menu-right .icon-nav .onhover-div .show-div.shopping-cart li .close-circle {
    left: unset;
    right: 0;
}

.main-menu .menu-right .icon-nav .onhover-div .show-div.shopping-cart {
    right: unset;
    left: 0;
}

    .main-menu .menu-right .icon-nav .onhover-div .show-div.shopping-cart li .close-circle {
        left: 0;
    }

    .main-menu .menu-right .icon-nav .onhover-div .show-div.shopping-cart li .media {
        text-align: justify;
    }

    .main-menu .menu-right .icon-nav .onhover-div .show-div.shopping-cart li .total h5 span {
        float: left;
    }

    .main-menu .menu-right .icon-nav .onhover-div .show-div.shopping-cart li .total {
        text-align: justify;
    }

.pixelstrap a .sub-arrow {
    right: auto;
    left: 10px;
    text-align: right;
}

.pixelstrap a, .pixelstrap a:hover, .pixelstrap a:active {
    padding-left: 45px;
}

.pixelstrap ul a, .pixelstrap ul a:hover, .pixelstrap ul a:focus, .pixelstrap ul a:active, .pixelstrap ul a.highlighted {
    text-align: right;
}

.sm, .sm ul, .sm li {
    direction: rtl;
    /*float: right;*/
}

.filter-main-btn {
    text-align: justify;
}

.well {
    text-align: justify;
}

#WebFormControl_ProgressIndicator {
    /*text-align: justify;*/
    text-align: center;
}

/*.list-group-item-success {
    background-image: url(/images/Previous-Progress.png) !important;
}


ol.progress li.active {
    background-image: url(/images/Current-Progress.png) !important;
}

ol.progress li.incomplete {
    background-image: url(/images/Next-Progress.png) !important;
}*/

ol.progress.list-group.top > li {
    float: right;
}
/*ol.progress.list-group.top {
    float: right;
}*/
.launchentitylookup {
    border-radius: 5px 0px 0px 5px !important;
}

.lookup {
    border-radius: 0px 5px 5px 0px !important;
}

.input-group-btn {
    width: 10%;
    float: left;
}

.datetimepicker > span {
    float: left;
    border-radius: 5px 0px 0px 5px !important;
}

.datetimepicker > input {
    border-radius: 0px 5px 5px 0px !important;
}

.entity-grid {
    text-align: justify;
}

.div-search {
    float: right;
}

.toolbar-actions .view-search .input-group-btn .btn {
    border-radius: 5px 0px 0px 5px !important;
}

.div-search input.query {
    border-radius: 0px 5px 5px 0px !important;
}

#sidebar ul li a span.name:hover {
    background-position: bottom right;
    background-size: 100% 2px;
}

#WebFormPanel .entity-action-button {
    /*float: right;*/
    float: left;
}

legend {
    text-align: justify;
}

.crmEntityFormView .actions {
    text-align: justify;
}

.form-horizontal .checkbox {
    float: right;
    /*padding-left: 25px;*/
    padding-right: 20px;
}
.crmEntityFormView .cell {
    padding: 0 0 20px 0px;
}

.container {
    text-align: justify;
}
.list-inline {
    padding-right: 0px;
}
.entitylist-filter-option-text {
    margin-left: 20px;
}
a.btn.insert-Action-link {
    margin-left: 20px;
}
.helpdesk-body select {
    border-radius: 5px 0px 0px 5px !important;
}
.helpdesk-body .panel-body input {
    border-radius: 5px 0px 0px 5px !important;
}
/*.product-box .product-detail h4,
.product-box .product-info h4,
.product-wrap .product-detail h4,
.product-wrap .product-info h4 {
    text-align: right;
    unicode-bidi: bidi-override;
    direction: ltr;
}*/

@media (min-width: 768px) {
    .section-b-space .container .main-box {
        /*margin-right: -30px;*/
    }
    #WebFormControl {
        margin-right: -30px;
    }
    /*.section-b-space .container .main-box .page-copy {
        padding-right: 30px;
    }*/
    fieldset {
        margin-right: -30px;
    }
    legend {
        padding-right: 30px;
    }
    .crmEntityFormView .actions .btn:first-child {
        margin-right: 30px;
    }
    .crmEntityFormView .cell.file-cell:first-child {
        padding-right: 20px;
    }
}

@media (max-width: 1199px) {
    .pixelstrap a .sub-arrow {
        left: 0;
    }
}

@media (min-width: 1200px) {
    .pixelstrap li {
        float: right;
    }
}

.product-price {
	text-align:center;
}

.product-price .price {
	font-weight: bold;
}

#footer .sub-title li {
    margin-right: 1.3em;
}

#footer .sub-title li:before {
    content: "\f191";
    font-family: FontAwesome;
    display: inline-block;
    margin-right: -1.3em;
    width: 1.3em;
    color: #21409a;
    font-size: 110%;
}