<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ardalis.Specification" version="6.1.0" targetFramework="net481" />
  <package id="Ardalis.Specification.EntityFramework6" version="6.1.0" targetFramework="net481" />
  <package id="Dapper" version="1.50.2" targetFramework="net481" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net481" />
  <package id="Hangfire.Core" version="1.7.34" targetFramework="net481" />
  <package id="Hangfire.SQLite" version="1.4.2" targetFramework="net481" />
  <package id="Hangfire.SqlServer" version="1.7.34" targetFramework="net481" />
  <package id="Microsoft.AspNet.Cors" version="5.2.9" targetFramework="net481" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.9" targetFramework="net481" />
  <package id="Microsoft.AspNet.Razor" version="3.2.9" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.9" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.9" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Antiforgery" version="2.0.0" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="2.0.0" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.DataProtection" version="2.0.0" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.DataProtection.Abstractions" version="2.0.0" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.0.0" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.0.0" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.0.0" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Http.Extensions" version="2.0.0" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.0.0" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.0.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net481" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.48" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="2.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.ObjectPool" version="2.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net481" />
  <package id="Microsoft.Net.Http.Headers" version="2.0.0" targetFramework="net481" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net481" />
  <package id="Microsoft.Owin.Cors" version="4.2.2" targetFramework="net481" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.2.2" targetFramework="net481" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net481" />
  <package id="Microsoft.Owin.Hosting" version="4.2.2" targetFramework="net481" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net481" />
  <package id="Microsoft.Win32.Registry" version="4.4.0" targetFramework="net481" />
  <package id="NLog" version="4.7.15" targetFramework="net481" />
  <package id="NLog.Config" version="4.7.15" targetFramework="net481" />
  <package id="NLog.Schema" version="4.7.15" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="Owin" version="1.0" targetFramework="net481" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.5" targetFramework="net481" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net481" />
  <package id="System.Data.SQLite.Core" version="1.0.115.5" targetFramework="net481" />
  <package id="System.Memory" version="4.5.4" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.AccessControl" version="4.4.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Xml" version="4.4.0" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="4.4.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="6.0.2" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
  <package id="Topshelf" version="4.3.0" targetFramework="net481" />
  <package id="Topshelf.NLog" version="4.3.0" targetFramework="net481" />
</packages>