@model KavirTire.Shop.Presentation.Models.Payment.PaymentConfirmationResult
@{
    ViewData["Title"] = "پرداخت";
}

<section>
    <div style="display:flex;justify-content: center;flex-direction: column;align-items: center">

        <div style="padding: 10px">
                <img src='/assets/@(Model.IsSuccessful? "check.png" : "cancel.png")' style="max-width: 130px">
        </div>
        <div style="padding: 10px; justify-content: center;flex-direction: column;align-items: center">
            @if (Model.IsSuccessful)
            {
                <h3>عملیات با موفقیت انجام شد</h3>
            }
            else
            {
                <h3>تراکنش ناموفق</h3>
            }
            <h5>@Html.Raw(Model.Message)</h5>
        </div>
        <div class="m-4">

            @if (string.IsNullOrWhiteSpace(Model.TraceNo) == false)
            {
                <h4>شماره پیگیری : @Model.TraceNo</h4>
            }
        </div>
        <div style="padding: 10px">
            <a href="@(KavirTireOptions.Value.PortalAddress)/profile" class="btn btn-info">بازگشت به پروفایل</a>
        </div>

    </div>
</section>